.link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    & a {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $blueregular;
        padding-right: 2px;
    }
    & svg:hover {
        transform: translateX(5px);
        transition-duration: 1s;
    }
}
