.main-menu {

    &__list {
        position: absolute;
        right: 0;
        top: 102px;
        width: 360px;
        list-style: none;
        padding: 0;
        background: $white;
        border-radius: 12px 12px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 64px 12px 12px 12px;
        gap: 15px;
        transform: translateX(100%);
        transition: all .4s ease;
        opacity: 0;

        &-item {
            background: $greybg;
            border-radius: 12px;
            align-self: stretch;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            padding: 7px 107px;
            & a {
                color: $blueregular;
                cursor: pointer;
                &:active {
                    color: $pink;
                }
            }
        }
        &.show {
            transform: translateX(0%);
            opacity: 1;
        }
    }
    &__btn {
        width: 18px;
        height: 14px;
        padding: 0;
        cursor: pointer;
        position: relative;
        &--about {
            margin-right: -9px;
        }
        &.show .main-menu__span:nth-child(1) {
            transform-origin: top left;
            transform: rotate(45deg);
        }
        &.show .main-menu__span:nth-child(2) {
            transform: scale(0);
        }
        &.show .main-menu__span:nth-child(3) {
            transform-origin: bottom left;
            transform: rotate(-45deg);
        }
    }
    &__span {
        display: block;
        width: 100%;
        background-color: $white;
        height: 2px;
        position: absolute;
        transition: transform .3s ease;
        &:nth-child(1) {
            top: 0;
        }
        &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
        }
        &:nth-child(3) {
            bottom: 0;
        }
        &--about {
            background-color: $mainregular;
        }
    }
}

@media screen and (min-width: 768px) {
    .main-menu {

        &__list {
            position: static;
            width: auto;
            background-color: transparent;
            border-radius: none;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            background-image: none;
            width: auto;
            padding: 0;
            opacity: 1;
            transform: translateX(0%);
            &-item {
                background: transparent;
                border-radius: none;
                text-align: center;
                padding: 0;
                & a {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: right;
                    color: $white;
                    display: block;
                    &:hover {
                        color: $pink;
                        border-bottom: 2px solid $pink
                    }
                }
                &--about {
                    & a {
                        color: $blueregular;
                    }
                }
            }
        }
        &__btn {
            display: none;
        }
    }
}
@media screen and (min-width: 1024px) {
    .main-menu {
        &__list {
            justify-content: flex-end;
        }
    }
}

