.services {
    display: grid;
    grid-template-columns: 100%;
    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        background: $gradienttext;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-top: 10px;
        margin-bottom: 30px;
        &--services {
            margin-top: 30px;
        }
    }
    &__list {
        display: grid;
        grid-template-columns: 100%;
        row-gap: 30px;
        &-article {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        &-icon {
            background-image: url(../img/services/ecommerce.svg);
            background-color: $white;
            width: 92px;
            height: 92px;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 24px;
            margin-bottom: 30px;
            &--support {
                background-image: url(../img/services/support.svg);
            }
            &--corporate {
                background-image: url(../img/services/coprorate.svg);
            }
            &--relations {
                background-image: url(../img/services/trust.svg);
            }
            &--protection {
                background-image: url(../img/services/protection.svg);
            }
            &--judicial {
                background-image: url(../img/services/court.svg);
            }
        }
        &-name {
            font-weight: 700;
            font-size: 22px;
            line-height: 27px;
            color: $blueregular;
            padding-bottom: 15px;
        }
        &-text {
            font-size: 16px;
            line-height: 26px;
            color: $white;
        }
    }
}
@media screen and (min-width: 768px){
    .services {
        &__list {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: min-content min-content min-content;
            row-gap: 60px;
            column-gap: 60px;
        }
        &__title {
            font-size: 38px;
            line-height: 46px;
            margin-bottom: 60px;
            &--services {
                margin-top: 70px;
            }
        }
    }
}
@media screen and (min-width: 1024px) {
    .services {
        &__list {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: min-content min-content;
        }
        &__title {
            &--services {
                margin-top: 52px;
            }
        }
    }
}





